obj/*
push_swap
push_swap.dSYM/Contents/Info.plist
.vscode/*
libft/libft.a
PNGS/BAD_PS.png
PNGS/GOOD_PS.png
PNGS/JUST1-100.png
PNGS/JUST5.png
PNGS/OKAY_PS.png
PNGS/SDL_PS.png
PNGS/USAGE.png
test.sh
.DS_Store
checker.dSYM/Contents/Info.plist
checker.dSYM/Contents/Resources/DWARF/checker
checker
pyviz.py
libft/objects/ft_atoi.o
libft/objects/ft_bzero.o
libft/objects/ft_isalnum.o
libft/objects/ft_isalpha.o
libft/objects/ft_isascii.o
libft/objects/ft_isdigit.o
libft/objects/ft_isprint.o
libft/objects/ft_itoa.o
libft/objects/ft_lstadd.o
libft/objects/ft_lstdel.o
libft/objects/ft_lstdelone.o
libft/objects/ft_lstiter.o
libft/objects/ft_lstmap.o
libft/objects/ft_lstnew.o
libft/objects/ft_memalloc.o
libft/objects/ft_memccpy.o
libft/objects/ft_memchr.o
libft/objects/ft_memcmp.o
libft/objects/ft_memcpy.o
libft/objects/ft_memdel.o
libft/objects/ft_memmove.o
libft/objects/ft_memset.o
libft/objects/ft_putchar_fd.o
libft/objects/ft_putchar.o
libft/objects/ft_putendl_fd.o
libft/objects/ft_putendl.o
libft/objects/ft_putnbr_fd.o
libft/objects/ft_putnbr.o
libft/objects/ft_putstr_fd.o
libft/objects/ft_putstr.o
libft/objects/ft_strcat.o
libft/objects/ft_strchr.o
libft/objects/ft_strclr.o
libft/objects/ft_strcmp.o
libft/objects/ft_strcpy.o
libft/objects/ft_strdel.o
libft/objects/ft_strdup.o
libft/objects/ft_strequ.o
libft/objects/ft_striter.o
libft/objects/ft_striteri.o
libft/objects/ft_strjoin.o
libft/objects/ft_strlcat.o
libft/objects/ft_strlen.o
libft/objects/ft_strmap.o
libft/objects/ft_strmapi.o
libft/objects/ft_strncat.o
libft/objects/ft_strncmp.o
libft/objects/ft_strncpy.o
libft/objects/ft_strnequ.o
libft/objects/ft_strnew.o
libft/objects/ft_strnstr.o
libft/objects/ft_strrchr.o
libft/objects/ft_strsplit.o
libft/objects/ft_strstr.o
libft/objects/ft_strsub.o
libft/objects/ft_strtrim.o
libft/objects/ft_tolower.o
libft/objects/ft_toupper.o
libft/objects/get_next_line.o
